<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts | thanatos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <meta property="og:title" content="posts | anubis">
    <meta property="og:description" content="Check out all of anubis's latest posts">
    <meta property="og:image" content="https://thanatosdeathgod.github.io/assets/icons/banner.png">
    <meta property="og:url" content="https://thanatosdeathgod.github.io/posts.html">
    <link rel="shortcut icon" href="/assets/icons/favicon.ico" />
</head>
<body>
    <header>
        <h1>posts</h1>
        <nav>
            <a href="/index.html" class="">/ home /</a>
            <a href="/about.html" class="">/ about /</a>
            <a href="/posts.html" class="active">/ posts /</a>      
        </nav>
    </header>
    <main>
        {{ content }}
    </main>
</body>
</html>
